{% extends "base.html" %}
{% load static %}

{% block title %}Base Calculator{% endblock title%}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ form.target_base.label_tag }} {{ form.target_base }}
        <p id="latex-output"></p>
        {{ form.input_expression.label_tag }} {{ form.input_expression }}
        <p></p>
        <button type="submit">Calculate</button>
    </form>



    {% if result_number %}
        <p>Result: {{ result_number }}</p>
    {% endif %}

{% endblock content%}

{% block script %}
    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="{% static 'js/latex_processing.js' %}"></script>
    {
{% endblock script %}