{% extends "base.html" %}
{% load static %}

{% block title %}Test{% endblock %}

{% block content %}
    <p>
\[
\text{Problem: Find } g(11) \text{ given the following}
\]

\[
g(x) =
\begin{cases}
g(x - 3) + 1 & \text{if } x > 0 \\
3x & \text{otherwise}
\end{cases}
\]
\[
\text{Find the value of } h(13) \text{ given the following definition of } h:
\]
\[
h(x) =
\begin{cases}
h(x - 7) + 1 & \text{when } x > 5 \\
x & \text{when } 0 \leq x \leq 5 \\
h(x + 3) & \text{when } x < 0
\end{cases}
\]
\[
\text{Problem: Find the value of } f(12, 6) \text{ given the following definition of } f:
\]
\[
f(x, y) =
\begin{cases}
f(x - y, y - 1) + 2 & \text{when } x > y \\
x + y & \text{otherwise}
\end{cases}
\]
\[
\text{Problem: Consider the following recursive algorithm for painting a square:}
\]
1. Given a square.
2. If the length of a side is less than 2 feet, then stop.
3. Divide the square into 4 equal-size squares (i.e., draw a “plus” sign inside the square).
4. Paint one of these 4 small squares.
5. Repeat this procedure (start at step 1) for each of the 3 unpainted squares.
\[
\text{If this algorithm is applied to a square with a side of 16 feet (having a total area of 256 sq. feet), how many square feet will be painted?}
\]
\[
\text{Find } f(12) \text{ given:}
\]
\[
f(x) =
\begin{cases}
f(x-2) - 3 & \text{if } x \geq 10 \\
f(2x-10) + 4 & \text{if } 3 \leq x < 10 \\
x^2 + 5 & \text{if } x < 3
\end{cases}
\]

Find \(f(15)\) given:
\[
f(x) =
\begin{cases}
2{f(x-3)}-4 & \text{if } x \geq 10 \\
f(x+1) + f(x-2) & \text{if } 8 \leq x < 10 \\
f(x-4) - 1 & \text{if } 5 \leq x < 8 \\
x + 3 & \text{if } x < 5
\end{cases}
\]

Find \(f(15,12)\) given:
\[
f(x, y) =
\begin{cases}
f(y-1,x-2) + 4 & \text{if } x > 10 \\
f(x+3,y-3) + 2 & \text{if } 5 \leq x \leq 10 \\
3x - 2y & \text{if } x \leq 4
\end{cases}
\]
\[
\text{Find } f(10), \text{ given}
\]

\[
f(x) =
\begin{cases}
1 & \text{if } x = 1 \\
f(x-1) + 3x - 2 & \text{if } x > 1
\end{cases}
\]

\[
\text{Evaluate } f(100, 36) - f(36, 100), \text{ given}
\]
\[
f(x,y) =
\begin{cases}
f\left(\left[\frac{x}{2}\right], \left[\frac{y}{2}\right]\right) + 2 & \text{if } xy \geq 50 \\
f(2x, y-3) + 1 & \text{if } 10 < xy < 50 \\
xy - x - y & \text{if } xy \leq 10
\end{cases}
\]
\[
\text{where } [z] \text{ returns the greatest integer less than or equal to } z
\]
Problem: Find \( g(11) \) given the following
\[ g(x) = \begin{cases} g(x - 3) + 1 & \text{if } x > 0 \\ 3x & \text{otherwise} \end{cases} \]
Find the value of \( h(13) \) given the following definition of \( h \):
\[ h(x) = \begin{cases} h(x - 7) + 1 & \text{when } x > 5 \\ x & \text{when } 0 \leq x \leq 5 \\ h(x + 3) & \text{when } x < 0 \end{cases} \]
Problem: Find the value of \( f(12, 6) \) given the following definition of \( f \):
\[ f(x, y) = \begin{cases} f(x - y, y - 1) + 2 & \text{when } x > y \\ x + y & \text{otherwise} \end{cases} \]
Problem: Consider the following recursive algorithm for painting a square:
1. Given a square.
2. If the length of a side is less than 2 feet, then stop.
3. Divide the square into 4 equal-size squares (i.e., draw a “plus” sign inside the square).
4. Paint one of these 4 small squares.
5. Repeat this procedure (start at step 1) for each of the 3 unpainted squares.
If this algorithm is applied to a square with a side of 16 feet (having a total area of 256 sq. feet), how many square feet will be painted?
Find \( f(12) \) given:
\[ f(x) = \begin{cases} f(x-2) - 3 & \text{if } x \geq 10 \\ f(2x-10) + 4 & \text{if } 3 \leq x < 10 \\ x^2 + 5 & \text{if } x < 3 \end{cases} \]
Find \( f(15) \) given:
\[ f(x) = \begin{cases} 2{f(x-3)}-4 & \text{if } x \geq 10 \\ f(x+1) + f(x-2) & \text{if } 8 \leq x < 10 \\ f(x-4) - 1 & \text{if } 5 \leq x < 8 \\ x + 3 & \text{if } x < 5 \end{cases} \]
Find \( f(15,12) \) given:
\[ f(x, y) = \begin{cases} f(y-1,x-2) + 4 & \text{if } x > 10 \\ f(x+3,y-3) + 2 & \text{if } 5 \leq x \leq 10 \\ 3x - 2y & \text{if } x \leq 4 \end{cases} \]
Find \( f(10) \), given:
\[ f(x) = \begin{cases} 1 & \text{if } x = 1 \\ f(x-1) + 3x - 2 & \text{if } x > 1 \end{cases} \]
Evaluate \( f(100, 36) - f(36, 100) \), given:
\[ f(x,y) = \begin{cases} f\left(\left[\frac{x}{2}\right], \left[\frac{y}{2}\right]\right) + 2 & \text{if } xy \geq 50 \\ f(2x, y-3) + 1 & \text{if } 10 < xy < 50 \\ xy - x - y & \text{if } xy \leq 10 \end{cases} \]
where \( [z] \) returns the greatest integer less than or equal to \( z \).


    </p>

{% endblock %}