/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}
nav{
    height: 60px;
}

.nav-link{
    padding: 100px;
}

/*nav ul {*/
/*    padding: 0;*/
/*    list-style-type: none;*/
/*    overflow: hidden;*/
/*}*/

/*nav ul li {*/
/*    float: left;*/
/*}*/

/*nav ul li a {*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 10px 16px;*/
/*    text-decoration: none;*/
/*}*/

nav ul li a:hover {
    background-color: #111;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.error-box {
    background-color: #f44336; /* Red background color */
    color: white; /* White text color */
    padding: 5px; /* Add some padding for spacing */
    text-align: center; /* Center the text */
    margin: 10px 0; /* Add some margin */
}

/* Style for the error message text */
.error-message {
    font-size: 18px; /* Font size for the error message */
}

.collapsible-content {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    /*margin-top: 10px;*/
    margin-bottom: 10px;
}

/* Style for the button that toggles the collapsible content */
.collapsible-button {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    text-align: left;
    margin-bottom: 10px;
}