{% extends "base.html" %}
{% load static %}

{% block title %}Home - ACSL Toolkit{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/study material/study_materials.css' %}">
{% endblock style %}

{% block content %}
    <h1 class="title"><b>Study Materials</b></h1>
    <p>Study materials for the ACSL competition.</p>
    <h2>Study Matierals</h2>
    <a href="{% url 'study_materials_topic' 'Computer_Number_Systems' %}">Computer_Number_Systems</a>
{% endblock %}


