{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ACSL Toolkit{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Optional: Include CSS files -->
    {% block style %}
    {% endblock style %}
    <style>

    </style>
    <script>
        function getCookie(name) {
          let cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Search for the CSRF token cookie by name
              if (cookie.substring(0, name.length + 1) === name + '=') {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tools' %}">Tool box</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'question_generator_homepage' %}">Problem Generator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'problem_solver' %}">Problem Solver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'study_materials' %}">Study Materials</a>
                </li>
                {% if request.user.is_staff %}
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin Page</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin_problem_generator' %}">Question Generator</a>
                    </li>
                {% endif %}
            </ul>
        {% if request.user.is_authenticated%}
            <div class="dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hello {{request.user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    <a class="dropdown-item" href="{% url 'profile' %}">My Account</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                </div>
            </div>
        {% endif%}
        {% if not request.user.is_authenticated%}
            <button onclick="location.href = {% url 'login'%};" type="button" class="btn btn-outline-primary" style="margin: 10px">Log in</button>
            <span class="navbar-text"> or </span>
            <button onclick="location.href = {%url 'register'%};" type="button" class="btn btn-outline-primary" style="margin: 10px">Sign up</button>
        {% endif%}
        </div>
    </nav>

    <main class="content-area">
        {% block content %}
        <!-- Content will be inserted here from other templates -->
        {% endblock %}
    </main>

{#    <footer class="site-footer">#}
{#        <p>&copy; 2023 ACSL Toolkit. All rights reserved.</p>#}
{#    </footer>#}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock script %}
    <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        // JavaScript to toggle the display of the collapsible content
        function toggleCollapsible() {
            var content = document.getElementById("collapsibleContent");
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        }
    </script>
</body>
</html>
